body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  letter-spacing: 1px;
  font-weight: 600;
}

/*---------------HEADER----------------  */

#logo {
  font-family: "Saira Stencil One", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 10px;
}

.header-container {
  position: relative;
  color: white;
}

.nav-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  margin-top: -0.5rem;
  z-index: 10;
  cursor: pointer;
}

.header-container video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  margin-bottom: 5rem;
}

.nav-list {
  display: flex;
  padding: 0;
}

.nav-list li {
  list-style: none;
  margin: 0 1rem;
}

.nav-list li a {
  text-decoration: none;
  color: white;
}

.icon-container img {
  width: 20px;
  margin-left: 0.7rem;
}

.hero-video {
  position: absolute;
  bottom: 12rem;
  margin-left: 3rem;
}

.hero-video h2 {
  font-size: 2.5rem;
  width: 500px;
}

.hero-video p {
  width: 600px;
}

/* ----------------MAIN------------------ */

.hero-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 820px;
}

.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
}

.model-container {
  width: 30vw;
  color: #1a1a1a;
}

.model-info h2 {
  text-align: center;
  font-size: 2.5rem;
}

.model-info img {
  max-width: 100%;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
}

.video-container video {
  width: 1200px;
  max-width: 100%;
}

.button-container button {
  width: 280px;
  padding: 12px 40px;
  margin: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  margin: 4rem 0.8rem 0 0.8rem;
  border-radius: 3px;
}

.btn1 {
  background-color: white;
  color: #1a1a1a;
  border: solid 2px #1a1a1a;
}

.btn2 {
  background-color: #444444;
  color: white;
  border: solid 2px #1a1a1a;
}

.btn1:hover {
  background-color: #888888;
  border: solid 2px #1a1a1a;
}

.btn2:hover {
  background-color: #888888;
  color: #1a1a1a;
  border: solid 2px #1a1a1a;
}

.btn1,
.btn2 {
  transition: background-color 0.4s, color 0.4s;
}

.cybertruck-section {
  background-color: #121113;
}

.model-cybertruck {
  color: #c4c3c5;
}

/* ------------SOLAR-SECTION-------------- */

.solar-section {
  background-image: url("./assets/images/Homepage-SolarPanels.avif");
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.solar-section-text {
  text-align: center;
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.solar-section-text h2 {
  font-size: 2.5rem;
}

.solar-section-text p {
  margin-top: -2rem;
}

.solar-section-button {
  position: absolute;
  text-align: center;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ---------------FORM------------------ */

.section-form {
  margin: auto;
  height: 100vh;
  margin-top: 3rem;
  width: 600px;
  padding: 0 1rem;
}

.name-container {

  display: flex;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
  margin-top: 1rem;
}

.input-container label {
  font-weight: 500;
  color: #616367;
  font-size: 0.9rem;
}

.input-container input {
  padding: 12px;
  margin-bottom: 10px;
  background-color: #F4F4F4;
  border: none;
  border-radius: 5px;
  margin-top: 0.5rem;
  outline: 0;
  width: 260px;
}

.input-container select {
  font-family: "Poppins", sans-serif;
  padding: 12px;
  margin-bottom: 10px;
  background-color: #F4F4F4;
  border: none;
  border-radius: 5px;
  margin-top: 0.5rem;
  outline: 0;
  width: 285px;
}

.checkbox-container {
  margin-top: 1.5rem;
}

.checkbox-container input {
  width: 1.5rem;
  height: 1.5rem;
}

.checkbox-container label {
  text-decoration: underline;
}

.checkbox-container p {
  font-size: 0.8rem;
  color: #616367;
}

.checkbox-container p span {
  text-decoration: underline;
}

form button {
  background-color: #3457B1;
  margin-top: 2rem;
  padding: 12px 45px;
  border-radius: 5px;
  font-size: 1rem;
  color: #F4F4F4;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #0f39a3; 
}

form button {
  transition: background-color 0.4s, color 0.4s;
}



/* -------------FOOTER-------------- */

footer {
  background-color: #121113;
  margin: auto;
  color: #c4c3c5;
  display: flex;
  flex-direction: column;
  height: 300px;
}

footer .tesla-privacy {
  margin: auto;
  text-align: center;
  width: 800px;
  margin-bottom: 3rem;
  border: solid 5px;
  border-radius: 3px;
  padding: 1rem;
}

footer .nav-list {
  justify-content: center;
  padding-bottom: 1.5rem;
}

footer .nav-list li a {
  color: #c4c3c5;
}